name: macOS with 3.6-3.8

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest]

    steps:
      - uses: actions/checkout@v3

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.11.1
          CIBW_BUILD: cp36-macosx_x86_64 cp37-macosx_x86_64 cp38-macosx_x86_64
          # gmp already installed on macos runner
          CIBW_BEFORE_ALL_MACOS: python setup.py package_assemble
          CIBW_TEST_COMMAND: python -m regina.test

      - uses: actions/upload-artifact@v3
        with:
          path: ./wheelhouse/*.whl
